bcrypt
cssmin
email_validator
flask-assets
flask-compress
flask-limiter
flask-login
flask-migrate
# flask-negotiate
flask-sqlalchemy
flask-talisman
flask-wtf
flask<3.0.0
gunicorn
jsmin
psycopg2
python-dotenv
pytz
redis
# requests
werkzeug<3.0.0